<p id="notice"><%= notice %></p>

<h1>Текущие заказы</h1>

  <table id="data-table" border ="1" rules ='rows'></table>
  <%= javascript_include_tag('orders.js') %>
  <%= stylesheet_link_tag "orders" %>
<br>

<%= link_to 'New Order', new_order_path %>
